# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2025 Blue Vending

config UART_RPI_PICO_PIO_ENHANCED
	bool "Raspberry Pi Pico PIO UART Enhanced Driver"
	default n
	select UART
	select UART_WIDE_DATA
	help
	  Enables the Raspberry Pi Pico PIO UART Driver. Supports 9 bit mode,

config UART_RPI_PICO_PIO_ENHANCED_LOG_LEVEL
	int "Raspberry Pi Pico PIO UART Enhanced Driver Log Level"
	depends on UART_RPI_PICO_PIO_ENHANCED
	default 3
	help
	  Sets the log level for the Raspberry Pi Pico PIO UART Enhanced Driver.
