/* SPDX-License-Identifier: Apache-2.0
 * Copyright (c) 2025 Blue Vending
 *
 * Device tree overlay for Status LED Sample on Raspberry Pi Pico
 * - Maps Green LED to GP2 and Red LED to GP3
 */

/ {
	aliases {
		modem = &sim800l;
	};

    	status_led_a: status_led_a {
        	compatible = "status-led";
        	status = "okay";
        	led-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
        	label = "Status LED A";
    	};

    	status_led_b: status_led_b {
        	compatible = "status-led";
		status = "okay";
		led-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
		label = "Status LED B";
	};
};

&pinctrl {
	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_P4>;
		};
		group2 {
			pinmux = <UART1_RX_P5>;
			input-enable;
		};
	};
};

&uart1 {
	current-speed = <9600>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
	status = "okay";

    	sim800l: sim800l {
        	compatible = "simcom,sim800l";
        	mdm-reset-gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
		status = "okay";
    	};
};
